*{
    margin: 0 auto;
    padding: 0;
    list-style: none;
    text-decoration: none;
}


.content{
    width: 85%;
}

/* ======================== Header ===================== */

.cabecalho{
    width: 100%;
    height: 90px;
    background-image: url("/imagens/img_header.png");
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
}   

.menu{
    width: 100%;
    height: auto;
    display: flex;
}

.menu_rotas{
    display: flex;
    align-items: center;
    gap: 50px;
}

.menu_rotas a{
    font-size: large;
    color: #E9E9E9;
}

.menu_rotas a:hover, a:focus{
    text-decoration: underline;
}
/* ======================== banner-Home ===================== */

.banner_home{
    width: 100%;
    height: 600px;
    color: #E9E9E9;
    background-image: url(/imagens/banner_home.png);
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
}

.banner_home h1{
    height: 50%;
    padding-bottom: 75px ;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.banner_home p{
    height: 50%;
    padding: 5px 0;
    font-size: x-large;
    text-align: center;
}
/* ======================== Cards-Home ===================== */

.clubes{
    width: 100%;
    height: auto;
    background-color: #1F1E26;
    color: #E9E9E9;
    display: flex;
    justify-content: center;
}

.clubes h2{
    padding: 100px 0;
    font-size: 40px;
    font-weight: bold;
    text-align: center ;
}

.area_cards{
    width: 100%;
    height: auto;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

.cards{ 
    text-align: center;
}

.cards h3{
    font-size: xx-large;
    font-weight: bold;
    padding-bottom: 30px;
}

.conteudo_card{
    width: 350px;
    height: 500px;
    background-color: #2B2937;
    display: flex;
    align-items: center;
    border-radius: 20px;
    box-shadow: -16px 21px 15px -10px rgba(0,0,0,0.1);
}

/* ======================== Rodape ===================== */

.rodape{
    width: 100%;
    height: 200px;
    background-color: #1F1E26;
    display: flex;
    align-items: center;
}

.menu_rodape{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
}

.menu_rodape span{
    color: #C3C3C3;
    font-weight: bold;
    padding: 30px 100px;
    border-left: 1px solid #fff;
}

.links_rodape h3{
    font-size: xx-large;
    font-weight: bold;
    color: #E9E9E9;
    padding-bottom: 10px;
}

.container_links_rodape{
    width: auto;
    height: auto;
    display: flex;
    gap: 30px;
}

.container_links_rodape a{
    color: #E9E9E9;
    font-size: large;
    line-height: 1.5;
}

.container_links_rodape a:hover{ 
    text-decoration: underline;

}