*{
    margin: 0 auto;
    padding: 0;
    list-style: none;
    text-decoration: none;
}


.content{
    width: 85%;
}

/* ======================== Header ===================== */

.cabecalho{
    width: 100%;
    height: 90px;
    background-image: url("/imagens/img_header.png");
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
}   

.menu{
    width: 100%;
    height: auto;
    display: flex;
}

.menu_rotas{
    display: flex;
    align-items: center;
    gap: 50px;
}

.menu_rotas a{
    font-size: large;
    color: #E9E9E9;
}

.menu_rotas a:hover, a:focus{
    text-decoration: underline;
}

/* ======================== Rodape ===================== */